mixin declare(name, data)
  script(type='text/javascript')!= `var ${name} = ${JSON.stringify(data === undefined ? null : data)}`

html
  head
    script(src="https://unpkg.com/vue@next")

  body
    +declare('customer', customer)
    +declare('user', user)

    h4 Today is #{utils.date.today()}
    div#app
      span {{customer.firstName}} {{customer.lastName}}
      button(@click="handleClick") Reveal ID

    script.
      const app = Vue.createApp({
        data() {
          return {
            customer
          }
        },

        methods: {
          handleClick() {
            window.alert(customer.id)
          }
        }
      })

      app.mount('#app')

  